@charset "UTF-8";

*{
    box-sizing: border-box;
}
/* Body */
body {
	font-family: source-sans-pro;
	background-color: #ffffff;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-style: normal;
	font-weight: 200;
}
/* Container */
.container {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	background-color: #FFFFFF;
}
/* Navigation */
header {
	weight: 90% !important;
	height: 5%;
	margin: 0;         /* 移除外邊距 */
    padding: 0;
	background-color: #b0c4de;
	border-bottom: 1px solid #2C9AB7;
}
header::after {
    content: "";
    display: table;
    clear: both;
}
.logo {
    color: #fff;
    font-weight: bold;
    text-align: center;
    width: 10%;
    float: left;
    margin-top: 15px;
    margin-left: 25px;
    letter-spacing: 4px;
}
nav {
    float: right;
    width: 50%;
    text-align: right;
    margin-right: 25px;
    background-color: #B0C4DE;
}
header nav ul {
	list-style: none;
	float: right;
}
nav ul li {
	float: left;
	color: #FFFFFF;
	font-size: 14px;
	text-align: left;
	margin-right: 25px;
	letter-spacing: 2px;
	font-weight: bold;
	transition: all 0.3s linear;
}
ul li a {
	color: #FFFFFF;
	text-decoration: none;
}
ul li:hover a {
	color: #2C9AB7;
}
.hero_header {
	color: #FFFFFF;
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	letter-spacing: 4px;
}
/* Hero Section */
.hero {
    background-color: #FDFCFC;
    padding-top: 150px;
    padding-bottom: 150px;
    background-image: url(../images/%E5%B0%811.jpg);
}
.light {
    font-weight: bold;
    color: #717070;
}
.tagline {
	text-align: center;
	color: #FFFFFF;
	margin-top: 4px;
	font-weight: lighter;
	text-transform: uppercase;
	letter-spacing: 1px;
}
/* About Section */
.text_column {
	width: 29%;
	text-align: justify;
	font-weight: lighter;
	line-height: 25px;
	float: left;
	padding-left: 20px;
	padding-right: 20px;
	color: #A3A3A3;
}
.about {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 35px;
    display: inline-block;
    background-color: #FFFFFF;
    margin-top: 0px;
    text-align: left;
}
/* Stats Gallery */
.stats {
	color: #717070;
	margin-bottom: 5px;
}
.gallery {
	clear: both;
	display: inline-block;
	width: 100%;
	background-color: #FFFFFF;
	/* [disabled]min-width: 400px;
*/
	padding-bottom: 35px;
	padding-top: 0px;
	margin-top: -5px;
	margin-bottom: 0px;
}
.thumbnail {
	width: 25%;
	text-align: center;
	float: left;
	margin-top: 35px;
}
.gallery .thumbnail h4 {
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	color: #52BAD5;
}
.gallery .thumbnail p {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	color: #A3A3A3;
}
/* Parallax Section */
.banner {
    background-color: #FFFFFF;
	background-size: cover;      /* 強制背景圖填滿整個區塊，不留白 */
    background-position: center; /* 圖片置中對齊 */
    background-repeat: no-repeat;/* 防止圖片重複出現奇怪的接縫 */
    height: auto !important; /* 讓容器隨表格長度自動伸長 */
    min-height: 400px;
    background-attachment: fixed;
}
.parallax {
    color: #FFFFFF;
    text-align: right;
    padding-right: 100px;
    padding-top: 110px;
    letter-spacing: 2px;
    margin-top: 0px;
    background-color: #3F1D88;
}
.parallax_description {
	color: #FFFFFF;
	text-align: right;
	padding-right: 100px;
	width: 30%;
	float: right;
	font-weight: lighter;
	line-height: 23px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
/* More info */
footer {
	background-color: #FFFFFF;
	padding-bottom: 35px;
	display: block; /* 將 inline-block 改為 block */
    clear: both;    /* 確保頁尾一定在最下面 */
    width: 100%;
}
.footer_column {
	width: 50%;
	text-align: center;
	padding-top: 30px;
	float: left;
}
footer .footer_column h3 {
	color: #B3B3B3;
	text-align: center;
}
footer .footer_column p {
	color: #717070;
	background-color: #FFFFFF;
}
.cards {
	width: 100%;
	height: auto;
	max-width: 400px;
	max-height: 200px;
}
footer .footer_column p {
	padding-left: 30px;
	padding-right: 30px;
	text-align: justify;
	line-height: 25px;
	font-weight: lighter;
	margin-left: 20px;
	margin-right: 20px;
}
.button {
	width: 200px;
	margin-top: 40px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-left: 10px;
	text-align: center;
	vertical-align: middle;
	border-radius: 0px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	border: 3px solid #FFFFFF;
	color: #FFFFFF;
	transition: all 0.3s linear;
}
.button:hover {
	background-color: #FEFEFE;
	color: #C4C4C4;
	cursor: pointer;
}
.copyright {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #717070;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 2px;
	border-top-width: 2px;
}
.footer_banner {
	background-color: #B3B3B3;
	padding-top: 60px;
	padding-bottom: 60PX;
	margin-bottom: 0px;
	background-image: url(../images/pattern.png);
	background-repeat: repeat;
	clear: both !important; /* 確保它一定排在表格跟所有內容的下方 */
    display: block !important;
}
footer {
	display: inline-block;
	clear: both !important;
    width: 100%;
}
.hidden {
	display: none;
}
.container .banner .mb {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
    background-color: #FFFFFF;
    text-align: center;

}
.banner .mb h3 {
}






/* Mobile */
@media (max-width: 320px) {
.banner .mb h3 {
}
.logo {
    width: 100%;
    margin-top: 13px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    color: #6E8DB5;
    padding-top: 0px;
    text-indent: 2px;
    text-align: left;
}
.container header nav {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	float: none;
	display: none;
}
header nav ul {
}
nav ul li {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	text-align: center;
}
.text_column {
	width: 100%;
	text-align: justify;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.thumbnail {
	width: 100%;
}
.footer_column {
	width: 100%;
	margin-top: 0px;
}
.parallax {
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 40%;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 100%;
	font-size: 18px;
}
.banner {
	background-color: #2D9AB7;
	background-image: none;
}
.tagline {
	margin-top: 20px;
	line-height: 22px;
}
.hero_header {
	padding-left: 10px;
	padding-right: 10px;
	line-height: 22px;
	text-align: center;
}
}

/* Small Tablets */
@media (min-width: 321px)and (max-width: 767px) {
.logo {
	width: 100%;
	text-align: center;
	margin-top: 13px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	color: #043745;
}
.container header nav {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    width: 100%;
    float: none;
    overflow: auto;
    display: inline-block;
    background-color: #B0C4DE;
}
header nav ul {
	padding: 0px;
	float: none;
}
nav ul li {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	text-align: center;
	padding-top: 8px;
	padding-bottom: 8px;
}
.text_column {
	width: 100%;
	text-align: left;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.thumbnail {
	width: 100%;
}
.footer_column {
	width: 100%;
	margin-top: 0px;
}
.parallax {
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 40%;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 100%;
	font-size: 18px;
}
.parallax_description {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-top: 30%;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	float: none;
	width: 100%;
	text-align: center;
}
.thumbnail {
	width: 50%;
}
.parallax {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-top: 20%;
}
.parallax_description {
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    width: 100%;
    padding-top: 30px;
}
.banner {
	padding-left: 20px;
	padding-right: 20px;
}
.footer_column {
	width: 100%;
}
}

/* Small Desktops */
@media (min-width: 768px) and (max-width: 1096px) {
.text_column {
	width: 100%;
}
.thumbnail {
	width: 50%;
}
.text_column {
    width: 100%;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    color: #3F3F3F;
    font-style: normal;
}
.banner {
	margin-top: 0px;
	padding-top: 0px;
}
}
.mybox {
    margin-top: auto;
    margin-left: auto;
    margin-bottom: auto;
    margin-right: auto;
    text-align: left;
}
.banner .mb h2 {
    text-align: center;

}
/* 表格整體樣式 */
table {
    width: 90% !important;      /* 強制寬度為 90% */
    margin: 30px auto !important; /* 強制水平置中，並與上下區塊隔開 */
    border-collapse: collapse;  /* 合併雙線條為單一細線 */
    background-color: #ffffff;  /* 背景設為白色 */
    font-family: source-sans-pro, sans-serif;
	clear: both !important;       /* 強制表格不與任何浮動元素重疊 */
    margin-bottom: 60px !important;
}

/* 儲存格（格子）樣式 */
table td, table th {
    border: 1px solid #2C9AB7;  /* 使用你導覽列的藍色作為格線 */
    padding: 12px 15px;         /* 增加內距，字才不會貼邊 */
    text-align: center;         /* 文字置中 */
    color: #333333;             /* 深灰色字體 */
    font-size: 16px;            /* 適中的字體大小 */
}

/* 第一列標題列美化 */
table tr:first-child {
    background-color: #b0c4de;  /* 使用你 header 的淺藍色 */
    font-weight: bold;
}
.about::after, .gallery::after, .banner::after, footer::after, .container::after {
    content: "";
    display: table;
    clear: both;
}

/* 強制表格清除上方所有浮動 */
table {
    clear: both !important;
    display: table !important;
    position: relative !important;
    z-index: 1;
	margin-bottom: 100px !important;
}

.container::after {
    content: "";
    display: table;
    clear: both;
}
.download-area {
    text-align: center;   /* 讓連結置中 */
    margin: 40px 0;       /* 與上下內容保持距離 */
    clear: both;          /* 避免被上方表格或浮動元素遮擋 */
}

.download-link {
    display: inline-block;
    padding: 12px 25px;
    margin: 0 10px;
    background-color: #2C9AB7; /* 使用你網頁的藍色系 */
    color: white !important;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.3s;
}

.download-link:hover {
    background-color: #3F1D88; /* 滑鼠移上去變深紫色 */
    transform: translateY(-3px); /* 輕微往上跳的動態感 */
}
.mb {
}
